# deps
node_modules/
.pnpm-store/

# next
.next/
out/
build/

# env
.env*
!.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# turbo / vercel
.turbo/
.vercel/

# misc
*.tsbuildinfo
next-env.d.ts
